<div class="col-md-4 col-md-offset-4">
  <h2>编辑讨论版</h2>

  <hr>
  <%= form_for @post,:url=>{:action=>"update"} do |f| %>
    叙述
    <br>
    <%= f.text_area :content %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>

</div>